.vuln-card {
    margin: 12px 0;

    .header {
        display: flex;
        justify-content: space-between;
    }

    .badges {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .badge {
        font-weight: 500;
        border-radius: 4px;
        text-transform: uppercase;
        padding: 6px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 2px 0;

        &--critical {
            color: #fff;
            background-color: #c1272d;
        }

        &--high {
            color: #fff;
            background-color: #f44336;
        }

        &--medium {
            color: #fff;
            background-color: #ff9800;
        }

        &--low {
            color: #fff;
            background-color: #ffc107;
        }
    }

    .footer {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        margin-top: 12px;

        &__packages {
            font-size: 13px;

            &__header {
                font-weight: 500;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            li {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    dl {
        display: grid;
        grid-template-columns: max-content minmax(0, auto);
        gap: 2px;
        font-size: 13px;
        margin: 0;

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
        }
    }

    dt {
        grid-column: 1;
        font-weight: 500;
        padding-right: 12px;
    }

    dd {
        grid-column: 2;
        color: rgba(0, 0, 0, 0.6);
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
    }
}
