@use "@angular/material" as mat;

.bom-select {
    position: relative;
    transition: none;

    .bom-clickable {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 100;
    }

    // overwrite disabled state

    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
        --mdc-outlined-text-field-disabled-outline-color: rgba(0, 0, 0, 0.38);
        border-color: rgba(0, 0, 0, 0.38);
    }

    .mdc-floating-label {
        color: rgba(0, 0, 0, 0.6);
        --mdc-outlined-text-field-disabled-label-text-color: rgba(0, 0, 0, 0.6);
    }

    .mdc-text-field__input {
        color: rgba(0, 0, 0, 0.87);
        --mdc-outlined-text-field-disabled-input-text-color: rgba(0, 0, 0, 0.87);
    }
}
